<%- include('partials/header.ejs'); -%>

<body style="background-color: #FEF6C9;">
    <div class="px-4 py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/journal-bookmark-fill.svg" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-body-emphasis mb-4" style="font-family: Merriweather,serif">Your Library of Books</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4" style="font-family: Poppins,sans-serif; font-weight: 500; text-align: center;">
            Welcome to our platform designed to help you track and<br> 
            maintain a list of books you've read. Rate each book, mark<br> 
            when you completed them, and leave detailed reviews. Know<br> 
            more about the website from its about page present at bottom.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button class="button-52" role="button" onclick="window.location.href='/add_new_book'">Add new Book</button>
          </div>
        </div>
    </div>
      <div class="container">
        <header class="d-flex justify-content-center ">
          <ul class="nav nav-pills">
            <li class="nav-item px-4"><a href="/title" class="nav-link sort" style="color: #725752; font-weight: 700;">Title</a></li>
            <li class="nav-item px-1 "><a href="/newest" class="nav-link sort" style="color: #725752; font-weight: 700;">Newest</a></li>
            <li class="nav-item px-4"><a href="/rating" class="nav-link sort" style="color: #725752; font-weight: 700;">Rating</a></li>
          </ul>
        </header>
      </div>

<div class="outerBorder" style="margin-top: 2em;">
    <div class="listOfBooks" style="padding-top: 100px; padding-bottom: 100px;">
    <% if (locals.books) {%>               
    <% for(let i=0; i<books.length;i++){%>
        <div class="box_book_headings">
        <br>
        <div class="show-image">
          <img src="<%=books[i].img%>" alt="book-cover" class="thumbnail" />
          <button class="btn" > <a href="/edit_book?isbn=<%= books[i].isbn%>">EDIT</a></button>
        </div>
        <h3 class="book_heading"><%=books[i].title%> by <%=books[i].author%></h3>
        <h3 class="book_heading">Date read: <%=books[i].date_read%></h3> 
        <h3 class="book_heading">Rating: <%=books[i].rating%></h3><br>
        </div>
        
        <h4 class="review"><%=books[i].review%></h4>
        <br>
        <%} %>
    <%} %>
    </div>
</div>
</body>




<%- include('partials/footer.ejs'); -%>